[Desktop Entry]
Name=Discord (Erwic)
Exec=/usr/bin/vieb --erwic=~/.config/erwic/discord/discord.json --datafolder=~/.config/erwic/discord/data/
Terminal=false
Type=Application

