[Desktop Entry]
Name=Element (Erwic)
Exec=/usr/bin/vieb --erwic=~/.config/erwic/element.json --datafolder=~/.config/erwic/communication/data/
Terminal=false
Type=Application

